altgraph==0.17.2
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.11
click==8.0.3
colorama==0.4.4
cryptography==36.0.1
Flask==2.0.2
future==0.18.2
idna==3.3
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
pefile==2021.9.3
pycparser==2.21
pyinstaller==4.9
pyinstaller-hooks-contrib==2022.1
pywin32-ctypes==0.2.0
requests==2.27.1
urllib3==1.26.8
Werkzeug==2.0.3
